// font global imports

@font-face {
  font-family: 'Sofia Pro';
  src: url(./assets/Fonts/Sofia_Pro_Regular.otf) format('opentype');
}

// mixin global sizes

$mobile: 500px;

@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}

$tablet: 501px;

@mixin tablet {
  @media (min-width: #{$tablet}) and (max-width: #{$desktop}) {
    @content;
  }
}

$desktop: 1000px;

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

// color variables

$color-white: #FFFFFF;
$color-light-blue: #30E0FF;
$color-blue: #3131FF;
$color-dark-blue: #0F1032;
$color-purple: #201F46;
$color-light-grey: #F4F5FB;
$color-grey: #4B5671;
$color-error: red;

$color-primary-500: #e2634a;
$color-primary-500-rgb: 226,99,74;
$color-primary-400: #ff7161;
$color-primary-300: #ffbca1;
$color-primary-100: #f7ebe5;
$color-secondary-700: #004b49;
$color-secondary-600: #006461;
$color-secondary-500: #008c89;
$color-secondary-400: #85d2bf;
$color-secondary-300: #93e1ca;
$color-secondary-100: #e3f7f1;

html {
  color: $color-secondary-700;
  font-family: Times New Roman,serif;
}

body {
  font-size: 1.1875rem;
  line-height: 1.47368;
}

// default container

.rootContainer {
  margin: auto;
  @include desktop {
    width: 960px;
  }
}

//H1, h2, h3, h4, h5, h6
.h1, h1 {
  font-family: "Sofia Pro", sans-serif;
  font-weight: 500;
  line-height: 1.1;
  margin-bottom: .9em;
  font-size: 5rem;
  letter-spacing: -.02em;
}

.h2, h2 {
  font-family: "Sofia Pro", sans-serif;
  font-weight: 500;
  line-height: 1.1;
  margin-bottom: .9em;
  font-size: 3.125rem;
  letter-spacing: -.0125em;
}

.h4, h4 {
  font-family: "Sofia Pro", sans-serif;
  font-weight: 500;
  line-height: 1.1;
  font-size: 1.375rem;
  margin-bottom: 0;
}

//buttons

.c-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  border-radius: 22.5px;
  transition-property: border,color,background-color,box-shadow;
  transition-duration: .1s;
  transition-timing-function: cubic-bezier(.55,0,.1,1);
  font-size: 1.1875rem;
  line-height: 1.25;
  max-width: 100%;
  margin: 0;
      margin-right: 0px;
      margin-bottom: 0px;
  text-decoration: none;
  cursor: pointer;
  background-color: $color-primary-500;
  color: #fff;
  font-family: "Sofia Pro", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  box-shadow: inset 0 -2px rgba(0,0,0,.17);
  border: none;
  border-radius: 27.5px;
  padding: calc((55px - 1.25em)/2) calc(1.5rem - 2px);
  min-width: 55px;
  min-height: 55px;
}

.c-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  border-radius: 22.5px;
  transition-property: border,color,background-color,box-shadow;
  transition-duration: .1s;
  transition-timing-function: cubic-bezier(.55,0,.1,1);
  font-size: 1.1875rem;
  line-height: 1.25;
  max-width: 100%;
  margin: 0;
      margin-right: 0px;
      margin-bottom: 0px;
  text-decoration: none;
  cursor: pointer;
  background-color: $color-primary-400;
  color: #fff;
  font-family: "Sofia Pro", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  box-shadow: inset 0 -2px rgba(0,0,0,.17);
  border: none;
  border-radius: 27.5px;
  padding: calc((55px - 1.25em)/2) calc(1.5rem - 2px);
  min-width: 55px;
  min-height: 55px;
}

/* NavLink overrides */

a {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}
a:hover,
a:active {
  text-decoration: none;
}