@import 'src/App.module.scss';

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    @include mobile {
      margin-left: 25px;
      margin-right: 25px;
    }
    @include tablet {
      margin-left: 25px;
      margin-right: 25px;
    }
}

.menu {
  padding: 24px 0;
  font-family: "Sofia Pro", sans-serif;

  .container {
    .subcontainer {
      a {
        color: $color-secondary-700;
        margin-right: 20px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

.logo {
  width: 100%;
  height: 100%;
}

.middle {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  width: 200px;
  height: 88px;

  div {
    position: relative;
  }
}
  
.headerTitle {
    @include mobile {
        display: none;
    }
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}