@import 'src/App.module.scss';

.container {
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-direction: row;
}
  
.title {
    @include mobile {
        font-size: 16px;
    }
    font-family: IBMPlexMono, sans-serif;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $color-white;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.overviewbtn {
    padding-left: 3rem;
    flex-basis: auto !important;
    width: 33.33333% !important;
    
    button {
        margin: 0 0 calc(.5rem + 16px);
        transform: translateY(.5rem);
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        position: relative;
        display: inline-block;
        vertical-align: middle;
        border-radius: 22.5px;
        transition-property: border,color,background-color,box-shadow;
        transition-duration: .1s;
        transition-timing-function: cubic-bezier(.55,0,.1,1);
        font-size: 1.1875rem;
        line-height: 1.25;
        max-width: 100%;
        text-decoration: none;
        cursor: pointer;
        background-color: $color-primary-500;
        color: #fff;
        font-family: Sofia Pro,sans-serif;
        font-size: 1.25rem;
        font-weight: 700;
        box-shadow: inset 0 -2px rgba(0,0,0,.17);
        border: none;
        border-radius: .5rem;
        padding: calc((55px - 1.25em)/2) calc(1.5rem - 2px);
        min-width: 55px;
        min-height: 55px;
        width: 100%;
    }
}
  
.dataTitle {
    @include mobile {
        font-size: 12px;
    }
    font-family: Rajdhani, sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $color-white;
    margin-bottom: 10px;
    text-transform: uppercase;
}
  
.dataTitlePortfolio {
    @include mobile {
        font-size: 12px;
    }
    font-family: Rajdhani, sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $color-light-blue;
    margin-bottom: 10px;
    text-transform: uppercase;
}
  
.dataTotal {
    font-family: Rajdhani, sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $color-white;
}

.dataBox {
    display: flex;
    justify-content: space-around;
    width: 100%;
    @include mobile {
        flex-direction: column;
    }
    @include tablet {
        flex-direction: column;
    }
}

.subDataBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.verticalSpacing {
    @include mobile {
        padding-top: 0px;
    }
    @include tablet {
        padding-top: 0px;
    }
    @include desktop {
        margin-top: 20px;
    }
}

.verticalSpacingMobileTablet {
    @include mobile {
        padding-top: 15px;
    }
    @include tablet {
        padding-top: 15px;
    }
}

.asterik{
    color:white;
}

.mobileHorizontalLine {
    @include mobile {
        border: 1px solid $color-white;
        width: 100%;
        margin-bottom: 15px;
    }
}

.studycontainer {
    position: relative;
    background: #fff;
    border-radius: .5rem;
    margin-bottom: 24px;

    .overviewhr {
        background-color: $color-secondary-500;
        height: 1px;
        border: none;
        width: 100%;
      }

    .studyheader {
        padding: 24px;

        h2 {
            margin: 0;
            font-size: 1.75rem;
            margin-bottom: 24px;
        }
    }

    .details {
        padding: 0 24px 24px;

        .studybtns {
            justify-content: right;
            margin: 0 0 1em;

            span {
                margin-top: .5rem !important;
                color: $color-secondary-600;
                background: $color-secondary-400;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                position: relative;
                display: inline-block;
                vertical-align: middle;
                border-radius: 22.5px;
                transition-property: border,color,background-color,box-shadow;
                transition-duration: .1s;
                transition-timing-function: cubic-bezier(.55,0,.1,1);
                font-size: 1.1875rem;
                line-height: 1.25;
                max-width: 100%;
                margin: 0;
                    margin-top: 0px;
                text-decoration: none;
                cursor: pointer;
                font-family: "Sofia Pro",sans-serif;
                font-size: 1.25rem;
                font-weight: 700;
                box-shadow: inset 0 -2px rgba(0,0,0,.17);
                border: none;
                border-radius: 27.5px;
                padding: calc((55px - 1.25em)/2) calc(1.5rem - 2px);
            }
        }
    }

    .desc {
        max-width: 70ch;
        margin: 0 0 1.5rem;
    }

    .studybtns {
        width: 100%;
        display: flex;
        flex-flow: row wrap;

        .btn {
            padding-left: 1rem;
            flex-basis: auto;

            .inner {
                min-width: 45px;
                min-height: 45px;
                border-radius: 1rem;
                padding: calc((45px - 1.25em)/2) 1ch;
                color: $color-primary-500;
                vertical-align: middle;
                transition-property: border,color,background-color,box-shadow;
                transition-duration: .1s;
                transition-timing-function: cubic-bezier(.55,0,.1,1);
                line-height: 1.25;
                max-width: 100%;
                margin: 0;
                text-decoration: none;
                cursor: pointer;
                font-family: "Sofia Pro",sans-serif;
                font-size: 1.25rem;
                font-weight: 700;
                border: none;
                flex-direction: row-reverse;
                display: inline-flex;
                align-items: center;
                pointer-events: none;

                .label {
                    display: inline-block;
                    padding-left: 1rem;
                    font-weight: 400;
                    font-size: 1rem;
                    color: $color-secondary-700;
                }

                .icon {
                    padding: calc((45px - 1.25em)/2);
                    margin: calc((45px - 1.25em)/-2) 0 calc((45px - 1.25em)/-2) calc((45px - 1.25em)/-2);
                    background: $color-primary-100;
                    border-radius: .5rem;
                    box-shadow: inset 0 -2px rgba(0,0,0,.1);
                    display: flex;
                    text-decoration: none;
                    transition: transform .1s cubic-bezier(.55,0,.1,1);
                }
            }
        }
    }
}