@import 'src/App.module.scss';

footer {
  width: 100%;
  background: $color-secondary-700;
  display: relative;
}

.container {
    background: $color-secondary-700;
    display: relative;
    margin-top: 48px;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 80rem;
}

.footerHr {
  background-color: $color-secondary-500;
  height: 1px;
  border: none;
  width: 100%;
  margin: 24px -48px;
}

.flexColumn{
    display: flex;
    margin-bottom: 1.5rem;
    @include mobile {
        flex-direction: column;
    }
}

.flexSubColumn{
    display: flex;
    flex-direction: column;
    padding-left: 3rem;
}

.columnTitleText {
    font-family: "Sofia Pro", sans-serif;
    color: $color-white;
    font-size: 1.375rem;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -.0125em;
    padding-bottom: .625em;
}

.columnText {
  font-size: 1rem;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $color-secondary-400;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration-skip-ink: auto;
  transition: color .1s cubic-bezier(.55,0,.1,1);

  &:hover {
    color: $color-primary-500;
  }
}

.copyright {
  font-size: 1rem;
  padding-left: 3rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $color-secondary-500;
}

.footerImage {
  padding-right: 10px;
  height: 22px;
}